<div class="custom-content menu-block">
    <div class="custom-content__inner">
      <div class="menu">
        <div class="menu__title">SHOP</div>
        <div class="separator2"></div>
        <div class="menu__items" >
            <div class="menu-link">New!</div>
            <div class="menu-link">Comics</div>
            <div class="menu-link">Characters</div>
            <div class="menu-link">Clothes</div>
            <div class="menu-link">Acessories</div>
            <div class="menu-link">Toys</div>
            <div class="menu-link">Home Décor</div>
            <div class="menu-link">Entertainment</div>
            <div class="menu-link"  routerLink="/teste" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Collectibles</div>
            <div  class="menu-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Sales</div>
        </div>
      </div>
    </div>
</div>