<nav class="nav-menu">
  <ul class="custom-content__inner">
      <li class="title">SHOP</li>
      <li>New!</li>
      <li>Comics</li>
      <li>Characters</li>
      <li>Clothes</li>
      <li>Acessories</li>
      <li>Toys</li>
      <li>Home Décor</li>
      <li>Entertainment</li>
      <li routerLink="/teste" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Collectibles</li>
      <li routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Sales</li>
  </ul>
</nav>
