<nav class="nav-menu">
  <ul class="custom-content__inner">
      <li class="title"><a href="">SHOP</a></li>
      <li><a href="javascript:void(0);">New!</a></li>
      <li><a href="javascript:void(0);">Comics</a></li>
      <li><a href="javascript:void(0);">Characters</a></li>
      <li><a href="javascript:void(0);">Clothes</a></li>
      <li><a href="javascript:void(0);">Acessories</a></li>
      <li><a href="javascript:void(0);">Toys</a></li>
      <li><a href="javascript:void(0);">Home Décor</a></li>
      <li><a href="javascript:void(0);">Entertainment</a></li>
      <li routerLink="/teste" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><a href="javascript:void(0);" >Collectibles</a></li>
      <li routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><a href="javascript:void(0);">Sales</a></li>
  </ul>
</nav>
