@import 'src/sass/variables';

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
     justify-content: space-evenly;
    width: 100%;
    cursor: pointer;
  }

  li {
    font-size: $font-md;
    font-family: $roboto-condensed-regular;
    padding: 12px 12px;
    &:first-child {
      font-size: $font-lg;
      font-family: $roboto-condensed-bold;
    }
    &:hover{
      border-bottom: solid 2px $secondary;
      padding-bottom: 10px;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: $white;
    &:hover{
      color: $muted;
    }

  }
}