.menu-block {
  background: #1F1F1F;
}
.menu {
  display: flex;
  align-items: center;
  &__title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  &__items {
    display: flex;
    color: #fff;
    font-size: 20px;
    justify-content: space-evenly;
    width: 100%;
    cursor: pointer;
    border-radius: 2pc solid #fff;
    
  }
}

.menu-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  height: 100%;
  font-family: "Roboto-Condensed-Regular";
  padding: 10px 0;
  outline: 0;
  border-bottom: 2px solid #1f1f1f;
  &:hover {
    border-color:#FF0000;
    color: #ccc
  }
  &.active-link {
    border-color:#FF0000;
    color: #ccc
  }
}