.menu-block {
  background: #1F1F1F;
}
.menu {
  display: flex;
  align-items: center;
  &__title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  &__items {
    display: flex;
    color: #fff;
    font-size: 20px;
    justify-content: space-evenly;
    width: 100%;
    cursor: pointer;
    
  }
}

.menu-link {
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 100%;
  font-family: "Roboto-Condensed-Regular";
  padding: 10px 0;
  &:hover {
    border-bottom: 2px solid #FF0000;
    padding-bottom: 8px;
  }
}