<div class="custom-content banner-block">
    <div class="custom-content__inner banner-inner">
        <div class="banner-image" style="background-image: url('../../../../assets/img/banner.png')">
            <div class="banner-button left">
                <button class="custom-button back-banner"></button>
            </div>
            <div class="banner-button right">
                <button class="custom-button next-banner"></button>
            </div>
        </div>
        <div class="banner-counter">
            <div class="banner-counter__item">1</div>
            <div class="banner-counter__item active">2</div>
            <div class="banner-counter__item">3</div>
            <div class="banner-counter__item">4</div>
            <div class="banner-counter__item">5</div>
        </div>

    </div>
</div>

<div class="custom-content banner-text-block">
    <div class="custom-content__inner">
        <div class="banner-text">
            <div class="banner-text__paragraph">
                <h1>THE HUNT FOR WOLVERINE KICKS OFF THIS APRIL</h1>
                <p>CHARLES SOULE AND DAVID MARQUEZ UNRAVEL THE MYSTERY</p>
            </div>
            <div class="read-button">
                <app-button (click)="functioncall($event)" label="READ UP"> </app-button>
                <hr>
            </div>
        </div>


    </div>


</div>