<div class="custom-content banner-block">
    <div class="custom-content__inner banner-inner"  *ngIf="banners && banners.length > 0">

        <div class="banner-image" [ngStyle]="{'background-image':'url(' + banners[currentIdx].thumbnail + ')'}">
            <div class="banner-button left">
                <button class="custom-button back-banner" (click)="prev()"></button>
            </div>
            <div class="banner-button right">
                <button class="custom-button next-banner" (click)="next()"></button>
            </div>
        </div>
        <div class="banner-counter">
            <div *ngFor="let page of pagination; let i= index" 
            class="banner-counter__item"
            [ngClass]="currentIdx === i ? 'active': ''"
            >{{page+1}}</div>
        </div>

    </div>
</div>

<div class="custom-content banner-text-block">
    <div class="custom-content__inner">
        <div class="banner-text">
            <div class="banner-text__paragraph" *ngIf="banners && banners.length > 0">
                <h1>{{banners[currentIdx].story}}</h1>
                <p>{{banners[currentIdx].creators}}</p>
            </div>
            <div class="read-button">
                <app-button (click)="functioncall($event)" label="READ UP"> </app-button>
                <hr>
            </div>
        </div>


    </div>


</div>