  
@mixin breakpoint($size) {
    @if $size == 'xs' {
        @media (min-width: $screen-xsmall) {
            @content ;
        }
    }
    @if $size == 'sm' {
        @media (min-width: $screen-small) {
            @content ;
        }
    }
    @if $size == 'md' {
        @media (min-width: $screen-medium) {
            @content ;
        }
    }
    @if $size == 'lg' {
        @media (min-width: $screen-large) {
            @content ;
        }
    }
    @if $size == 'ð' {
        @media (min-width: $screen-xlarge) {
            @content ;
        }
    }
}

@mixin clearfix() {
    &:before,
    &:after {
      display: table; // 2
      content: " "; // 1
    }
    &:after {
      clear: both;
    }
  }