// breakpoints a'la bootstrap
// Screen Sizes
$screen-xlarge:  1910px;
$screen-large:  1366px;
$screen-medium: 801px;
$screen-small:  551px;
$screen-xsmall:  100px;

$screen-md  : 768px !default;

//THEME COLORS
$primary    : #1F1F1F;
$secondary  : #ED1B24;
$dark-grey  : #353535;
$grey       : #515151;
$medium-grey: #6F6F6F;
$muted      : #959595;
$light-grey : #EBEBEB;
$white      : #FFFFFF;

//FONT-FAMILY
$roboto-regular: "Roboto-Regular";
$roboto-bold:  "Roboto-Bold";
$roboto-black: "Roboto-Black"; 
$roboto-condensed-regular:  "Roboto-Condensed-Regular";
$roboto-condensed-bold: "Roboto-Condensed-Bold"; 

//TIPOGRAPHY
$font-xs: 15px;
$font-sm: 16px;
$font-rg: 18px;
$font-md: 20px;
$font-lg: 24px;
$font-xl: 40px;