// src/sass/styles.scss

@import './variables';
@import './mixins';
@import './fontFace';
@import './customButton';
@import './customCheckbox';


html, body {
    margin: 0;
    font-family: "Roboto-Condensed-Regular";
    min-width: 1050px;

}
hr {
    border-bottom: 1px solid #000000;
    border-top: none;
    border-left: none;
    border-right: none;
}
.mr-10 {
    margin-right: 10px;
}   
.separator {
    width: 2px;
    height: 14px;
    margin-left: 15px;
    margin-right: 15px;
    background-image: url('../assets/img/separator.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}
.separator2 {
    width: 2px;
    height: 14px;
    margin-left: 15px;
    margin-right: 15px;
    background-image: url('../assets/img/separator2.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}

/**
* Custom content responsive pages
**/
.custom-content {
    /** content inner responsive by break point **/
    min-width: 1050px;
    &__inner {
        @include breakpoint(xs){
            width: 90%;
            margin: 0 auto;
        }
        @include breakpoint(sm){
            width: 90%;
            margin: 0 auto;
        }
        @include breakpoint(md){
            width: 90%;
            max-width: 1120px;
            margin: 0 auto;
          // maybe some desktop layout styles.
        }
        @include breakpoint(lg){
            width: 100%;
            max-width: 1194px;
            margin: 0 auto;
          // maybe some desktop layout styles.
        }
        @include breakpoint(xl){
            width: 100%;
            max-width: 1120px;
            margin: 0 auto;
        }
    }
 
}

