@import 'src/sass/variables';

.magazine{
  display: flex;
  flex-direction: column;
  margin: 40px 15px 0 15px;
  text-decoration: none;
  &:hover > hr {
    border-color:$secondary;
    transition: all 0.5s ease;
  }
  &:hover > h2 {
    color:$secondary;
    transition: all 0.5s ease;
  }
  hr {
    width: 40%;
    border-color: $grey;
    border-width: 2px;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  img {
    width: 100%;
    height: 'auto';
    border:1px solid #D7D7D9;
  }
  h2 {
    font-size: $font-md;
    font-family: $roboto-bold;
    line-height: 1.25;
    padding: 0;
    margin: 15px 0 0 0;
    color: $grey;

  }
  p {
    
    font-size: $font-xs;
    letter-spacing: 1.5px;
    color: $grey;
    font-family: $roboto-regular;
    padding: 0;
    margin-top: 15px;
    text-align: center;
  }
}



.button {
  width: auto;
  border: none;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;

  transition: all 0.5s ease;
  &:hover {
      transform: scale(0.95);
  }
  &:active {
      outline: none;
      border: none;
        transform: scale(0.90);
  }
      &:focus {outline:0;}
}