<!--  TOP SHOP MODULE-->
<div class="custom-content footer">
    <div class="custom-content__inner">
        <div class="footer__advertisement">
            <div class="banner">
                <div class="banner__title">ADVERTISEMENT</div>
                <div class="banner__content"> </div>
            </div>
        </div>
        <div class="menu-block">
            <div class="menu">
                <div class="menu__title">COMICS</div>
                <div class="menu__item">Release calendar</div>
                <div class="menu__item">Marvel Unlimited</div>
                <div class="menu__item">Redeem Digital Copy</div>
                <div class="menu__item">hop Digital Comics</div>
                <div class="menu__item">Print Subscriptions</div>
                <div class="menu__item">Developer portal</div>
            </div>

            <div class="menu">
                <div class="menu__title">CHARACTERS</div>
                <div class="menu__item"> Spider-Man</div>
                <div class="menu__item">Avengers</div>
                <div class="menu__item">Iron Man</div>
                <div class="menu__item">Doctor Strange</div>
                <div class="menu__item">Captain America</div>
            </div>
            <div class="menu">
                <div class="menu__title">KIDS</div>
                <div class="menu__item">Marvel HQ</div>
                <div class="menu__item">Kids Games</div>
                <div class="menu__item">Kides Videos</div>
                <div class="menu__item">Kids Activities</div>
            </div>
            <div class="menu">
                <div class="menu__title">MARVEL</div>
                <div class="menu__item">Sign Up</div>
                <div class="menu__item">Marvel Mastercard®</div>
                <div class="menu__item">Marvel Insider</div>
                <div class="menu__item">Help / FAQs</div>
                <div class="menu__item">Email Preferences</div>
                <div class="menu__item">About Marvel</div>
                <div class="menu__item">Advertising</div>
                <div class="menu__item">Internships</div>
                <div class="menu__item">Careers</div>
            </div>
            <div class="menu">
                <div class="menu__title">INSIDER</div>
                <div class="menu__item">Join Today</div>
                <div class="menu__item">Home</div>
                <div class="menu__item">Activities</div>
                <div class="menu__item">Rewards</div>
                <div class="menu__item">Member Profile</div>
                <div class="menu__item">FAQs</div>
                <div class="menu__item">Marvel Insider Terms of Use</div>
            </div>

        </div>
        <hr>
        <div class="footer-brand">
            <div class="footer-brand__logo"></div>
            <div class="footer-info">
                <div class="footer-info__items">
                    <div class="footer-info-link">Terms of Use</div>
                    <div class="footer-info-link">Privacy Policy</div>
                    <div class="footer-info-link">Your California Privacy Policy</div>
                    <div class="footer-info-link">License Agreement</div>
                    <div class="footer-info-link">Interest-Based Ads</div>
                    <div class="footer-info-link">© 2018 Marvel</div>
                </div>
            </div>
            <div class="footer-brand__social-icons">
                <button class="custom-button face"></button>
                <button class="custom-button youtube"></button>
                <button class="custom-button twiter"></button>
            </div>
            
        </div>
       
       
    </div>
</div>