@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/grid';

.podcasts {
    margin: 1em auto;
    @include breakpoint(xs){
        width: 100%;
        background-color: lime;
    }
    @include breakpoint(sm){
        width: 100%;
        background-color: #000;
    }
    @include breakpoint(md){
        background-color: red;
      // maybe some desktop layout styles.
    }
    @include breakpoint(lg){
        background-color: blue;
      // maybe some desktop layout styles.
    }
    @include breakpoint(xl){
        background-color: pink;
      // maybe some desktop layout styles.
    }
  }

  

  .items {
    @extend .row;
    background: #ccc;
    margin: 0;
    &__item {
        @extend .col-sm-4;
        @extend .col-md-6;
        @extend .col-lg-3;
    }
   
  }

  .social-button {
    width: auto;
    border: none;
    height: 50px;
    width: 50px;
    background-image: url('../assets/img/marvel-logo.png');
    transition: all 0.5s ease;
    &:hover {
        transform: scale(0.90);
    }
    &:active {
        outline: none;
        border: none;
          transform: scale(0.95);
    }
        &:focus {outline:0;}
        &__face {

        }
  }