button {
    width: auto;
    border: none;
    height: 50px;
    -webkit-transform: skew(-12deg) scale(1);
       -moz-transform: skew(-12deg) scale(1);
         -o-transform: skew(-12deg) scale(1);
    background: #F0141E;
    transition: all 0.5s ease;
    &:hover {
        background: #DB0E17;
    }
    &:active {
        outline: none;
        border: none;
        -webkit-transform: skew(-12deg) scale(0.95);
        -moz-transform: skew(-12deg) scale(0.95);
          -o-transform: skew(-12deg) scale(0.95);
    }
        &:focus {outline:0;}

}
.label {
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: "Roboto-Condensed-bold";
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transform: skew(12deg);
       -moz-transform: skew(12deg);
         -o-transform: skew(12deg);
}