@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/grid';

/**
* Top home background
**/
.home-top {
    background: #515151;
    padding-top: 22px;
    padding-bottom: 22px;
    &__advertisement {
        background-image: url('src/assets/img/bkg_advertisement.png');
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.home-link {
    display: flex;
    &__item {
        font-family: "Roboto-Condensed-Regular";
        margin-left: 5px;
        margin-right: 5px;
        font-size: 15px;
        color: #515151;
    }
}
/**
* Top home banner responsive
**/
.top-banner {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include breakpoint(xs){
        width: 728px;
    }
    @include breakpoint(sm){
        width: 728px;
    }


    &__content {
        background: #6F6F6F;
        width: 728px;
        height: 90px;

    }
    &__title {
        background: #515151;
        font-family: "Roboto-Condensed-Regular";
        text-transform: uppercase;
        color: #959595;
        font-size: 10px;
        text-align: center;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 2px;
        padding-right: 2px;
    }

}
/*
***
* Brand, social icon and search
***
***
*/
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 160px;
}

.home-brand {
    background: #fff;
    height: auto;
    display: flex;
    align-items: flex-end;

    &__logo {
        background-image: url('src/assets/img/marvel-logo.png');
        background-size: contain;
        width: 276px;
        height: 126px;
    }
    &__social-icons {
        display: flex;
        margin-bottom: 15px;
        margin-left: 10px;
    }
}

/*
***
* Brand, social icon and search
***
***
*/
.home-action {
  display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
    width: 380px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.home-search-block {
    display: flex;
    align-items: center;
    width: 100%;
}
.home-search {
    background: #fff;
    padding-bottom: 10px;
    height: 20px;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #959595;

     input {
         border: none;
         font-family: "Roboto-Condensed-Regular";
         font-size: 20px;
         letter-spacing: 2px;
         transition: all 0.5s ease;
         width: 260px;
         margin-right: 10px;
         padding-left: 10px;
        &:hover {
            
        }
        &:focus {
            border: none; 
            outline: none;
        }
        &:active {
            outline: none;
            border: none;
        }
    }
    &__social-icons {
        display: flex;
    }
}