<!--  TOP SHOP MODULE-->
<div class="custom-content shop-menu">
    <div class="custom-content__inner">
        <div class="menu">
            <div class="menu__title">BROWSE BY</div>
            <ul class="menu__items">

                <li class="menu-link series">SERIES

                    <ul class="menu-options " *ngIf="series && series.results">
                        <li class="magazine" *ngFor="let serie of series.results, let idx = index">
                            <label class="custom-checkbox custom-checkbox-checkbox">
                                {{serie.title}}
                                <input type="checkbox" [checked]="serie.selected"
                                    (change)="serie.selected = !serie.selected; onChangeCheckbox(idx)"
                                    name="series+{{ serie.id }}" />
                                <div class="custom-checkbox_indicator"></div>
                            </label>

                        </li>

                        <div class="marvel filter-button">
                            <button type="button" (click)="getData($event)">
                                <div class="label">ok</div>
                            </button>
                        </div>
                    </ul>
                </li>
                <li class="menu-link characters">CHARACTERS
                    <ul class="menu-options" *ngIf="characters && characters.results">
                        <li class="magazine" *ngFor="let character of characters.results">
                            <label class="custom-checkbox custom-checkbox-checkbox">
                                {{character.name}}
                                <input type="checkbox" [checked]="character.selected"
                                    (change)="character.selected = !character.selected; onChangeCheckbox(idx)"
                                    name="character+{{ character.id }}" />
                                <div class="custom-checkbox_indicator"></div>
                            </label>
                        </li>
                        <div class="marvel filter-button">
                            <button type="button" (click)="getData($event)">
                                <div class="label">ok</div>
                            </button>
                        </div>
                    </ul>
                </li>
                <li class="menu-link creators">CREATORS
                    <ul class="menu-options " *ngIf="creators && creators.results">
                        <li class="magazine" *ngFor="let creator of creators.results">
                            <label class="custom-checkbox custom-checkbox-checkbox">
                                {{creator.fullName}}
                                <input type="checkbox" [checked]="creator.selected"
                                    (change)="creator.selected = !creator.selected; onChangeCheckbox(idx)"
                                    name="creator+{{ creator.id }}" />
                                <div class="custom-checkbox_indicator"></div>
                            </label>
                        </li>
                        <div class="marvel filter-button">
                            <button type="button" (click)="getData($event)">
                                <div class="label">ok</div>
                            </button>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</div>


<div class="custom-content">
    <div class="custom-content__inner">
        <div class="chips-group">
            <div class="chips-group__chips" *ngFor="let serie of filterSelecteds.series">
                {{serie.title}} <button type="button" [disabled]="loader" (click)="handleRemoveOne(serie, 'series')"></button>
            </div>
            <div class="chips-group__chips" *ngFor="let character of filterSelecteds.characters">
                {{character.name}} <button type="button" [disabled]="loader" (click)="handleRemoveOne(character, 'characters')"></button>
            </div>
            <div class="chips-group__chips" *ngFor="let creator of filterSelecteds.creators">
                {{creator.fullName}} <button type="button" [disabled]="loader" (click)="handleRemoveOne(creator, 'creators')"></button>
            </div>
        </div>
        <div class="magazines" *ngIf="magazines && magazines.results">
            <div class="magazine" *ngFor="let magazine of magazines.results">
                <app-magazine [thumbnail]="magazine.thumbnail" [title]="magazine.title" [creators]="magazine.creators">
                </app-magazine>
            </div>
        </div>
        <div class="no-results">
            <h3>No items matching your search criteria were found.</h3>
            <p>Please adjust your search criteria and try again</p>
            <button>Click here to clear your filter</button>
        </div>
        <div class="marvel more-button">
            <button type="button" [disabled]="disableMoreButton || loader" (click)="pageOffset($event)">
                <div class="label">LOAD MORE</div>
            </button>
            <hr>
        </div>
    </div>
</div>
