
<!--  TOP SHOP MODULE-->
<div class="custom-content shop-menu">
    <div class="custom-content__inner">
        <div class="menu">
            <div class="menu__title">BROWSE BY</div>
            <ul class="menu__items">
                <li class="menu-link">SERIES
                    <ul class="menu-options">
                        <div class="li-ul-options">Opções de Series</div>
                        <div class="filter-button">
                            <app-button (click)="functioncall($event)" label="Ok"> </app-button>
                        </div>    
                    </ul>
                </li>
                <li class="menu-link">CHARACTERS
                    <ul class="menu-options">
                        <div class="li-ul-options">Opções de Characters</div>
                        <div class="filter-button">
                            <app-button (click)="functioncall($event)" label="Ok"> </app-button>
                        </div>    
                    </ul>
                </li>
                <li class="menu-link">CREATORS
                    <ul class="menu-options">
                        <div class="li-ul-options">Opções de Creators</div>
                        <div class="filter-button">
                            <app-button (click)="functioncall($event)" label="Ok"> </app-button>
                        </div>
                    </ul>
                </li>
            </ul>
          </div>
         
    </div>
</div>
<div class="custom-content">
    <div class="custom-content__inner">
        <div class="magazines">
            <div class="magazine" *ngFor="let user of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                <app-magazine></app-magazine>
            </div>
          </div>
          <div class="more-button">
            <app-button (click)="functioncall($event)" label="LOAD MORE"> </app-button>
            <hr>
        </div>
    </div>
</div>
