@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/grid';

.shop-menu {
  background-color: $light-grey;
  height: 60px;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
  max-width: 80%;
  min-width: 795px;
  margin: 0 auto;
  color: $dark-grey;
  position: relative;
  z-index: 3;
  &__title {
    font-size: $font-md;
    font-family: $roboto-bold;
    width: 160px;
  }
  &__items {
    display: flex;
    width: 100%;
    font-family: $roboto-condensed-regular;
    font-size: $font-md;
    cursor: pointer;
  }
}

.menu-link {
  display: flex;
  align-items: center;
  font-size: $font-md;
  height: 100%;
  padding: 20px 15px;
  margin-right: 85px;
  &:hover {
    font-family: $roboto-condensed-bold;
    background-color: $dark-grey;
    color: #FFF;
    margin-right: 83px;
    &::after {
      color:$secondary;
    }
  }
  &::after {
      content: "\25BC";
      color: $primary;
      padding-left:8px;
      font-size: 7px;
      vertical-align: middle;
    }
    
}

.menu-link{
  &:hover {
    &~.menu-options {
      display: block;
      position: relative;
    }
  }

}
.li-ul-options{
color: $white;
}


.menu-options{
  background-color: $dark-grey;
  padding: 40px;
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 100%
}

.menu-link:hover .menu-options{
  display: block;
}
.menu-options:hover{
  display: block;
}

.magazines {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 45px -15px;
}

.magazine {
  width: 25%;
}

.more-button{
  text-align: center;
  hr {
    margin-top: -20px;
  }
}
.filter-button{
  width: 100%;
  text-align: center;
  margin: 0 auto -35px auto;
  position: absolute;
  bottom: 0;
  text-align: center;
}
/**
* SERIES MENU LIST
*/
.series {
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
  }
}
 /**
* CHARACTERS MENU LIST
*/
.characters {
  ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: none;
  }
}
  /**
* CREATORS MENU LIST
*/
.creators {
  ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: none;
  }
}

li{
  float: left;
  width: 50%;
  &.magazine {
    width: 100%;
    font-family: $roboto-condensed-regular;
    font-size: $font-sm;
  }
}
.chips-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  &__chips {
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: $font-sm;
    font-family: $roboto-condensed-bold;
    color: $primary;
    text-transform: uppercase;
    border: 1px solid $primary;
    padding: 15px;
    width: fit-content;
    button{
      position: relative;
      z-index: 0;
      border: none;
      width: 15px;
      height: 15px;
      margin-left: 8px;
      &:focus {
        outline:0;
      }
      &::after {
        content: "";
        height: 2px;
        width: 100%;
        background: $muted;
        position: absolute;
        left: 0;
        transform: rotate(135deg);
      }
      &::before {
        content: "";
        height: 2px;
        width: 100%;
        background: $muted;
        position: absolute;
        left: 0;
        transform: rotate(-135deg);
      }
    }
  }
}

.no-results{
  text-align: center;
  margin: 35px;
  h3 {
    font-family: $roboto-bold;
    font-size: $font-lg;
    color: $primary
  }
  p {
    font-family: $roboto-regular;
    font-size: $font-rg;
    color: $primary
  }
  button {
    border: none;
    font-family: $roboto-regular;
    font-size: $font-rg;
    color: $secondary;
    transition: all 0.5s ease;
    &:focus {
      outline:0;
    }
    &:hover{
      color: $primary
    }
  }
}
